{
    "presets": [
        "next/babel"
    ],
    "plugins": [
        [
            "import",
            {
                "libraryName": "antd"
                // "style": "css" 有bug，不用此方式
            }
        ]
    ]
}